{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chaitanya Kreeda</title>
    <link rel="stylesheet" href="{%static 'hw1.css' %}" type="text/css" media="all"></head>
<body>
	<header>
		<h1>Chaitanya Kreeda</h1>
		<nav>
			<a href={%url "cbitcric"%}>Cricket</a>
			<a href={%url "cbitvol"%}>Volleyball</a>
			<a href={%url "cbitbas"%}>Basketball</a>
			<a href={%url "cbitkab"%}>Kabaddi</a>
		</nav>
	</header>
	<main>

			<h2>Cricket Matches</h2>

         {% for s in list %}
        <span> <a href={% url 'cricket1' s.team_a  s.team_b %}> {{ s.team_a }} vs {{s.team_b}} </a></span> <span>{{s.dt}}</span>
        <br><br>

          {% endfor %}

        </div>
	</main>
<script>
    function pqr(){
        document.write("abc");
    }
	function clive(){
	    document.getElementById("cumatch").innerHTML="";
		document.getElementById("crmatch").innerHTML="";
		document.getElementById("clmatch").innerHTML="cricket live matches are";
	    	document.getElementById("div2").style.display="block";
	}

	function crecent(){
		document.getElementById("clmatch").innerHTML="";
		document.getElementById("cumatch").innerHTML="";
		document.getElementById("crmatch").innerHTML="cricket recent matches are";
	    	document.getElementById("div3").style.display="block";
	}
	function cupcoming(){
		document.getElementById("clmatch").innerHTML="";
		document.getElementById("crmatch").innerHTML="";
		document.getElementById("cumatch").innerHTML="cricket upcoming matches are";
		document.getElementById("div1").style.display="block";
	}

</script>
</body>
</html>